* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  display: grid;
  align-items: left;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url('TO\ DO2.jpg');
  background-position: center;
  background-repeat: repeat;
  left: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background-color: black;
  color: white;
}

.logo {
  font-size: 20px;
  user-select: none;
  color: orange;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation a {
  position: relative;
  font-weight: 500;
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 1rem;
}

.navigation .loginbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 50px;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 20px;
  background: none;
  font-size: 1rem;
  margin-left: 20px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.navigation .loginbtn:hover {
  color: black;
  background-color: white;
}

.head {
  min-height: 75vh;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%), url('Back2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 180px;
  gap: 10px;
  column-gap: 2px;
  width: 100%;
}

.head h2 {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 5px;
}

.head p {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 5px;
}

.get-started-btn {
  padding: 10px 20px;
  background-color: red;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.get-started-btn:hover {
  background-color: #00688B;
}

.features {
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
}

section {
  margin-bottom: 20px;
  width: 100%;
}

#About {
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px none black;
  border-radius: 20px;
  background-image: url('TO\ DO1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  width: 90%;
  margin-left: 75px;
}

#message {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px none black;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  margin-left: 75px;
}

#message h2 {
  color: #333;
}

#message p {
  font-size: 1.2rem;
  color: #666;
}

form {
  max-width: 400px;
  margin: 20px auto;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  width: 100%;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

button {
  background-color: #00688B;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
}

button:hover {
  background-color: green;
}

footer {
  background-color: yellow;
  color: #333;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.footerContent {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contact-info {
  text-align: left;
  width: 100%;
}

.social-links a {
  text-decoration: none;
  color: #333;
  margin: 0 5px;
  font-size: 1em;
  line-height: 57px;
  width: 100%;
}

.copyright {
  margin-top: 20px;
  width: 100%;
}

.info {
  text-align: left;
  width: 100%;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 10px;
  }
  
  header {
    padding: 20px 20px;
    max-height: 30px;
    font-size: 3px;
    max-width: 450px;
  }

  .logo,
  .navigation a,
  .navigation .loginbtn{
    font-size: 10px;    
  }
  
  .navigation .loginbtn {
      width: 90px;
      height: 20px;
      border: 0.5px solid white;
  }
  
  .head {
    max-height: 10vh;
    padding: 50px;
  }

  .head h2 {
    font-size: 1rem;
  }

  .get-started-btn {
    padding: 10px 10px;
    font-size: 0.7rem;
  }

  #About,
  #message {
    margin-left: 5vh;
    margin-right: 5vh;
    font-size: 15px;
    max-width: 80%;
  }
  
  #message p {
      font-size: 15;
  }

  form {
    max-width: 100%;
  }

  .footerContent {
    flex-direction: column;
    align-items: center;
  }

  .social-links a {
    margin: 10px;
  }

  .footerContent .copyright{
      font-size: 30px;
  }

  .social-links a {
    margin: 10px;
  }

  .footerContent .copyright{
      font-size: 50px;
  }
}

@media screen and (max-width: 450px) {
  body {
    font-size: 10px;
  }
  
  header {
    padding: 20px 20px;
    max-height: 30px;
    font-size: 3px;
    max-width: 450px;
  }

  .logo,
  .navigation a,
  .navigation .loginbtn{
    font-size: 10px;    
  }
  
  .navigation .loginbtn {
      width: 90px;
      height: 20px;
      border: 0.5px solid white;
  }
  
  .head {
    max-height: 10vh;
    padding: 50px;
  }

  .head h2 {
    font-size: 1rem;
  }

  .get-started-btn {
    padding: 10px 10px;
    font-size: 0.7rem;
  }

  #About,
  #message {
    margin-left: 5vh;
    margin-right: 5vh;
    font-size: 15px;
    max-width: 80%;
  }
  
  #message p {
      font-size: 15;
  }

  form {
    max-width: 100%;
  }

  .footerContent {
    flex-direction: column;
    align-items: center;
  }

  .social-links a {
    margin: 10px;
  }

  .footerContent .copyright{
      font-size: 30px;
  }
}
